services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: shopmohinh
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./Back_end/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./Back_end
      dockerfile: Dockerfile
    container_name: backend
    # restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    env_file:
      - ./Back_end/.env
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./Front_end
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "4200:81"
    depends_on:
      - backend

volumes:
  mysql_data:
